.category-name {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInDown 0.5s ease-in-out;
  }
  
  .file-upload-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .selected-files {
    margin-top: 10px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  