<!-- Sidebar -->
<div class="sidebar" [ngClass]="{ 'open': sidebarOpen }">
  <button class="close-btn" (click)="toggleSidebar()">×</button>
  <ul>
    <li><a [routerLink]="'/layout'" (click)="sidebarOpen = false">Home</a></li>

    <li><a [routerLink]="'/about'" (click)="sidebarOpen = false">About Us</a></li>
<li><a [routerLink]="'/services'" (click)="sidebarOpen = false">Services</a></li>


    <!-- <li><a href="#services" (click)="toggleSidebar()">Services</a></li> -->
    <!-- <li><a href="#gallery" (click)="toggleSidebar()">Gallery</a></li> -->
    <!-- <li><a href="#contact" (click)="toggleSidebar()">Contact Us</a></li> -->
    <!-- <li><a href="#blogs" (click)="toggleSidebar()">Blogs</a></li> -->
    <!-- <li><a href="#Admin" (click)="toggleSidebar('admin')">Admin</a></li> this one -->
    <li><a href="#" (click)="toggleSidebar('admin'); $event.preventDefault()">Admin</a></li>

    <!-- <button (click)="openLoginDialog()">Test Dialog</button> -->


  </ul>

</div>

<!-- Sidebar Backdrop -->
<div class="sidebar-backdrop" (click)="toggleSidebar()" *ngIf="sidebarOpen"></div>

<!-- Menu Button -->
<button class="menu-btn" (click)="toggleSidebar()" *ngIf="!sidebarOpen">☰</button>


