<!-- 
<div class="overlay">
      <div class="hero-content">
        <img src="/assets/secondLogo.jpg" alt="Cream Star Events Logo" class="logo fade-in">
  
        <h1 class="fade-in">Turning Moments into Memories – 30 Years of Excellence!</h1>
        <button class="cta-button fade-in delay-1">Book Your Event Now</button>
        <p class="intro fade-in delay-2">
          Welcome to <strong>Cream Star Events</strong>, where we craft unforgettable experiences with precision and passion.
        </p>
      </div>
    </div> -->

   
       
         <div class="overlay">
          <div class="hero-content">
            <img src="/assets/secondLogo.jpg" alt="Cream Star Events Logo" class="logo fade-in">
      
            <h1 class="fade-in">Turning Moments into Memories – 30 Years of Excellence!</h1>
            <button class="cta-button fade-in delay-1">Book Your Event Now</button>
            <p class="intro fade-in delay-2">
              Welcome to <strong>Cream Star Events</strong>, where we craft unforgettable experiences with precision and passion.
            </p>
          </div>
        </div>
