<!-- <div class="overlay">
      <div class="hero-content">
        <img src="/assets/abhi.png" alt="Cream Star Events Logo" class="logo fade-in">
        <h1 class="typewriter"><span id="typed-text"></span></h1>
      </div>
</div> -->

<div class="overlay">

  <div class="hero-content">
    <img src="/assets/abhi.png" alt="Cream Star Events Logo" class="logo fade-in">
    <h1 class="typewriter gradient-text"><span id="typed-text">Crafting Magical Moments</span></h1>
    <p class="subheading">Make your events unforgettable with Cream Star Events</p>
    <button class="cta-button" [routerLink]="'/services'">Explore Services</button>
    <!-- <div class="owner-section">
      <div class="slideshow-container">
        <img *ngFor="let image of images; let i = index"
             [src]="image"
             [class.active]="i === currentIndex"
             class="slideshow-image fade" />
      </div>
    </div> -->
    <div class="social-icons">
      <a href="https://www.instagram.com/cream_star_events" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/9826273540" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
      
      
    </div>
    <a href="tel:+917909900176" class="phone-link" aria-label="Call">
      <span class="green-emoji" style="color: green;">📞</span> +91 9826273540
    </a>
    
    
    
  </div>
</div>

    