/* 
.event-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 20px;
}

.event-section {
  flex: 1 1 calc(60% - 20px); 
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.event-section h2 {
  color: #4CAF50;
}

.event-section p {
  color: #555;
}

@media (max-width: 768px) {
  .event-section {
    flex: 1 1 calc(90% - 20px); 
    margin: auto; 
  }
}

@media (max-width: 480px) {
  .event-section {
    flex: 1 1 calc(100% - 20px); 
    margin: auto; 
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-gallery img {
  width: 150px; 
  height: auto; 
  object-fit: cover; 
} */




.event-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height:100vh;
  width:80vw;
  /* background-color: green; */
}


.event-section {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.event-section h2 {
  color: #4CAF50;
}
.event-section p {
  color: #555;
}
.image-gallery {
  display: flex;
  height:600px;
  width:1485px;
  gap: 10px;
  overflow: auto;
}

.image-gallery img {
  height:100%;
  width: 100%; 
} 

.event-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.event-btn {
  background-color: #ff5733; /* Button color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.event-btn:hover {
  background-color: #e04e2b;
}

